@font-face {
  font-family:'FontAwesome';
  src:url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
      url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
      url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
      url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
      url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal;
}

.fa { 
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* animations */
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }

  100% {
    -webkit-transform:rotate(359deg);
            transform:rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }

  100% {
    -webkit-transform:rotate(359deg);
            transform:rotate(359deg);
  }
}

/* text-selection */
::selection { color:#FFF; background-color:#369; }
::-moz-selection { color:#FFF; background-color:#369; }


/* body/general styles */
body {
  color:#333;
  background:#FFF;
  font-size:16px;
  font-family:'Meiryo', 'Osaka', Arial, sans-serif;
  padding:0;
  margin:0;
  display:flex;
  min-height:100vh;
  flex-direction:column;
}

p { font-size:16px; }
ul { padding-left:40px; }

a {
  color:#039;
  text-decoration:none;
  outline:none;
}
a:hover, a:focus { text-decoration:underline; }

.button, a.button {
  color:#FFF;
  background:#369;
  font-size:16px;
  font-family:Meiryo, Osaka, Arial, sans-serif;
  text-decoration:none;
  border:none;
  font-weight:bold;
  display:inline-block;
  padding:6px 12px;
  margin:3px;
  cursor:pointer;
  outline:none;
}

.button:hover, a.button:hover { background:#258; }
.button:focus, a.button:focus { background:#147; }

/* input fields */
input[type="text"] {
  font-size:16px;
  font-family:Meiryo, Osaka, Arial, sans-serif;
  background:#FFF;
  border:1px solid #CCC;
  padding:6px;
  outline:none;
}
input[type="text"]:disabled { color:#333; }
input[type="text"]::placeholder { color:#BBB; }
input[type="text"]:hover { border-color:#999; }
input[type="text"]:focus { border-color:#369; }

/* aesthetic styles */
.center { text-align:center; }

.ul { text-decoration:underline; }

.t-red { color:#F00; }
.t-blue { color:#369; }

.nomargin { margin:0 !important; }
.clearfix { clear:both; }
.clear:after {
  content:"";
  display:table;
  clear:both;
}

.vertical-text {
        -ms-writing-mode:tb-rl;
	-webkit-writing-mode:vertical-rl;
	        writing-mode:vertical-rl;
  text-align:left !important;
  max-height:300px;
}

/* spoilers */
.spoiler {
  color:#000;
  background:#000;
}

.spoiler:hover { color:#FFF; }

/* tables */
.table {
  width:100%;  
  border-collapse:collapse;
}

.table td {
  background:#FFF;
  border:1px solid #DDD;
  padding:3px;
}

/* used for definitions, ex: 兄弟[きょうだい：siblings; ...]
   the bracketed portion should be wrapped with tags of this class */
.define {
  font-size:11px;
  font-style:normal;
  font-weight:bold;
  vertical-align:super;
}

/* lesson number for kanji or words */
.lesson-num {
  font-size:12px;
  font-style:normal;
  vertical-align:top;
}

/* resize large images */
.lesson-image img { max-width:100%; }

/* header */
header {
  color:#FFF;
  background:url('images/padt.png') no-repeat 10px 50% #369;
  padding:15px 15px 15px 140px;
  position:relative;
  overflow:hidden;
}

#home-link:before { /* makes the above background image clickable */
  content:"";
  position:absolute;
  height:100px;
  width:110px;
  left:14px;
  top:50%;
  margin-top:-50px;
}

header h1 { font-size:32px; }
header h1 a { color:#FFF; }

h2 { margin:30px 0 0 0; }

a#fork-me {
  color:#FFF;
  background:#333;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
  text-decoration:none;
  line-height:30px;
  height:30px;
  width:200px;
  transform:rotate(45deg);
  position:absolute;
  right:-55px;
  top:30px;
  transition-property:color, background;
  transition-duration:300ms;
}

a#fork-me:hover, a#fork-me:focus {
  color:#333;
  background:#FFF;
}

/* content */
#content { flex:1 0 auto; }

.content-block {
  max-width:1000px;
  margin:0 auto;
  padding:30px;
}

/* section anchors */
a.anchor {
  color:#666;
  font-family:FontAwesome;
  font-size:16px;
  font-weight:normal;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  display:inline-block;
  width:25px;
  margin:0 0 0 -25px;
}

.anchor-icon {
  display:inline-block;
  transform:rotate(-45deg);
  visibility:hidden;
}

h1:hover .anchor-icon, h2:hover .anchor-icon, h3:hover .anchor-icon, h4:hover .anchor-icon, h5:hover .anchor-icon, h6:hover .anchor-icon, .anchor:focus .anchor-icon {
  visibility:visible;
}

/* exercise styles */
#exercise > * { visibility:hidden; }

#exercise:before, #exercise:after {
  color:#369;
  position:absolute;
  top:50%;
}

#exercise:before {
  content:"Loading exercise...";
  font-size:16px;
  font-weight:bold;
  font-style:italic;
  text-align:center;
  left:0;
  right:0;
  margin-top:40px;
}

#exercise:after {
  content:"\f1ce";
  font-size:64px;
  font-family:FontAwesome;
  left:50%;
  margin-top:-32px;
  margin-left:-32px;
  -webkit-animation:fa-spin 2s infinite linear;
  animation:fa-spin 2s infinite linear
}

#exercise.content-loaded > * { visibility:visible; }
#exercise.content-loaded:before, #exercise.content-loaded:after {
  content:"";
  display:none;
}

/* titles */
.lesson-title {
  color:#369;
  font-size:20px;
  border-bottom:2px solid #369;
  padding-bottom:3px;
}

.sub-lesson-title, .workbook-title {
  font-size:16px;
  margin:0 0 0 20px;
}
.workbook-title { font-size:14px; }

.title {
  color:#369;
  font-size:28px;
  margin:20px 0;
}

.title-desc {
  font-size:16px;
}

.title-med {
  font-size:18px;
  margin:10px 0;
}

.section-title {
  color:#369;
  font-size:24px;
  border-bottom:2px solid #369;
  margin:0;
  padding-bottom:6px;
}

.sub-title {
  font-size:18px;
  margin:16px 0;
}

/* title for exercises */
#exercise-title {
  color:#369;
  font-size:24px;
  margin:0 0 25px 0;
}

/* displays volume and page number of exercise */
#exercise-title:after {
  content:attr(data-page);
  color:#666;
  font-size:12px;
  font-style:italic;
  font-weight:normal;
  display:block;
}


/* footer */
footer {
  color:#FFF;
  background:#333;
  padding:15px;
}

footer a { color:#CCC; }
footer a:hover { color:#FFF; }

footer ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

footer li { float:left; }
footer li:before {
  content:"\f111";
  font-family:FontAwesome;
  font-size:6px;
  margin:0 5px;
  vertical-align:middle;
}
footer li:first-child:before { display:none; }

.footer-left { float:left; }
.footer-right { float:right; }

/* quiz styles */
#quiz-info {
  color:#FFF;
  background:#369;
  font-weight:bold;
  text-align:left;
  padding:15px 15px 15px 50px;
  margin:10px 0;
  position:relative;
}

#quiz-info:before {
  content:"\f05a";
  font-size:32px;
  font-family:FontAwesome;
  position:absolute;
  top:50%;
  margin-top:-16px;
  left:12px;
}

#quiz-info a { color:#FF0; }

#quiz-info table {
  width:100%;
  background:#258;
  border-collapse:collapse;
  font-weight:normal;
}

#quiz-info table td {
  padding:3px;
  border:1px solid #147;
}


/* timer styles */
#quiz-timer { margin-top:10px; }
#quiz-timer:before {
  content:"Time Elapsed";
  display:block;
}


/* multi-choice style */
.quiz-multi-row { margin:10px 0; }

.question-block {
  background:#EEE;
  border:1px solid #CCC;
  margin:30px 0;
  position:relative;
}

.question-block:after {
  content:attr(data-qid) ".";
  position:absolute;
  top:-20px;
  left:0px;
}

.quiz-image {
  border:1px solid #CCC;
  display:block;
  margin:3px auto;
}

.quiz-multi-question {
  font-size:16px;
  font-weight:bold;
  text-align:center;
  border-bottom:1px solid #CCC;
  padding:5px;
}

.quiz-multi-answer {
  color:#333;
  font-size:16px;
  text-rendering:auto;
  background:#FFF;
  border:1px solid #CCC;
  padding:6px;
  display:block;
  width:50%;
  margin:0 auto;
  cursor:pointer;
  outline:none;
  position:relative;
  box-sizing:border-box;
  align-items:flex-start;
  text-align:center;
  -webkit-touch-callout:none;
    -webkit-user-select:none;
     -khtml-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
}

.quiz-multi-answer:before {
  content:attr(data-option) ":";
  font-size:18px;
  font-weight:400;
  font-family:Arial;
  position:absolute;
  left:-25px;
  top:50%;
  margin-top:-10px;
}

.quiz-multi-answer:hover, .quiz-multi-answer:focus { border-color:#369; }
.quiz-multi-answer:hover:before, .quiz-multi-answer:focus:before { color:#369; }

.quiz-over .quiz-multi-answer { pointer-events:none; }

.quiz-over .wrong-answer .quiz-multi-answer.selected-answer, .quiz-over .wrong-answer .quiz-multi-answer[data-answer="true"], .quiz-over .quiz-multi-answer.selected-answer {
  border-width:3px;
}

.quiz-over .quiz-multi-answer.selected-answer { border-color:#080; }
.quiz-over .quiz-multi-answer.selected-answer:before, .multi-quiz.quiz-over .quiz-multi-answer[data-answer="true"]:before { color:#080; }

.quiz-over .question-block.wrong-answer .quiz-multi-answer.selected-answer { border-color:#F00; }
.quiz-over .question-block.wrong-answer .quiz-multi-answer.selected-answer:before { color:#F00; }

.quiz-over .question-block.wrong-answer .quiz-multi-answer[data-answer="true"] { border-color:#369; }
.quiz-over .question-block.wrong-answer .quiz-multi-answer[data-answer="true"]:before { color:#369; }

/* read-only questions */
#exercise .text-passage {
  font-size:16px;
  text-align:left;
  width:80%;
  overflow:auto;
  padding:25px;
  margin:15px auto;
}

.quiz-multi-answer.next-question:before {
  content:"\f061";
  font-family:FontAwesome;
  left:auto;
  right:6px;
  margin-top:-9px;
}
.hidden-answer { display:none; }


/* progress bar */
#quiz-progress {
  border:1px solid #369;
  height:25px;
  position:relative;
  overflow:hidden;
}

#quiz-progress-bar {
  background:#369;
  font-weight:bold;
  height:25px;
  transition:300ms;
}

#quiz-progress-text {
  color:#000;
  text-align:center;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  line-height:26px;
}


/* RESULT LIST */
#complete-banner {
  color:#FFF;
  background:#369;
  font-size:16px;
  font-weight:bold;
  padding:5px;
}

#result-list {
  background:#EEE;
  border:1px solid #CCC;
}

.result-row {
  border-bottom:1px solid #CCC;
  padding:3px;
}

.result-row:last-child { border:none; }

.result-label {
  text-align:right;
  font-weight:bold;
  display:inline-block;
  width:150px;
  margin-right:5px;
}

/* improve list link clickability */
#lessons li a { display:inline-block; }
#lessons li a, #exercise-list li a { padding:3px 0; }

/* ADS */
.ad-container {
  text-align:center;
  margin:20px 0;
}

/* RESPONSIVENESS */
@media (max-width:1000px) {
  /* wrapper's max-width is 1000px, so remove padding so the page takes up the whole screen */
  .content-block { padding:30px 0; }

  /* add a bit of padding to other elements, specifically for the index and other such pages */
  p, h2, h3, h4, #quick-search-wrapper {
    padding:0 6px;
  }
  
  /* adjust anchor position */
  a.anchor {
    margin:0 0 0 -5px;
  }
  
  .sub-lesson-title a.anchor, .workbook-title a.anchor, .center a.anchor {
    margin:0 0 0 -25px;
  }
  
  /* increase the size of text passages in multi-choice quizzes */
  .text-passage { width:90%; }
  
  /* increase the size of multiple choice answers */
  .quiz-multi-answer { width:80%; }
}

@media (max-width:820px) {
  header {
    padding:100px 0px 0px 0px;
    text-align:center;
    background-position:50% 00px;
  }

  header h1 { font-size:24px; }

  #home-link:before {
    content:"";
    position:absolute;
    height:100px;
    width:120px;
    top:60px;
    left:50%;
    margin-left:-60px;
  }
  
  /* reduce size of lesson titles on index */
  #lessons .lesson-title { font-size:18px; }
}

/* improve clickability of list links for touch screens */
@media (pointer:coarse) {
  #lessons li a { font-size:14px; padding:6px 0; }
}